<div class="container-fluid user-region">
    <div class="card {{#unless isAdmin}} border-primary{{else}}border-dark{{/unless}}">
        {{#if img}}
            <img src="http://localhost:3000/static/{{img}}" class="card-img-top" alt="user-image" style="width: 18rem;">
        {{/if}}
        <div class="card-body">
            <h5 class="card-title">E-mail : {{email}}
            </h5>
            <p class="card-text">Name : {{name}}</p>
            <p class="card-text">Surname : {{surname}}</p>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col align-self-start" >
                    {{#if modify}}
                    <button type="button" id="modify-button" class="btn btn-primary">Modify</button>
                    <button type="button" id="remove-button" class="btn btn-danger">Remove</button>
                    <button type="button" id="comments-button" class="btn btn-primary">Comments</button>
                    {{/if}}
                </div>
                <div class="col align-self-center text-right align-middle h-100 d-inline-block">
                    Created : {{userCreatedTime}}
                </div>
            </div>
        </div>
    </div>
    <div id="comments-region">

    </div>
</div>