<div class="container-fluid article-region">
    <div class="card">
        <form id="article-form">
            <div class="card-body">
                <div class="form-group row">
                    <label for="inputTitle" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10">
                        <input class="form-control form-control-lg" id="inputTitle" type="text" placeholder="Title" name="title" value="{{title}}" required>
                    </div>                    
                </div>

                <div class="form-group row">          
                    <label for="inputContent" class="col-sm-2 col-form-label">Content</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="inputContent" type="text" placeholder="Content" name="content" value="{{content}}" required>
                    </div>
                </div>
                <div class="form-group row">
                    <select class="selectpicker" id="categories-input" multiple name="categories">
                        {{#each categories}}
                                <option value="{{attributes.name}}">{{ attributes.name }}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="card-footer">
                <div class="col align-self-start" >
                    <button type="submit" id="save-button" class="btn btn-success">Save</button>
                    <button type="button" id="cancel-button" class="btn btn-secondary">Cancel</button>
                </div>
                <div class="col align-self-center text-right align-middle h-100 d-inline-block">
                    {{articlePostTime}}
                </div>
            </div>
        </form>
    </div>
</div>